# SPDX-FileCopyrightText: 2026 Alex Brandt <alunduil@gmail.com>
# SPDX-License-Identifier: MIT

# License and copyright files
.reuse/

# Don't format vendor files
.styles/

# Standard ignores
node_modules/
.pnpm-store/
.turbo/
dist/
build/
pnpm-lock.yaml
